.phone-mock {
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .phone-area {
    width: 308px;
    height: 590px;
    border-radius: 0 0 6% 6%;
    position: relative;
    margin-left: -10%;

    .phone-outer {
      position: relative;
      z-index: 2000;
      width: 163%;
      margin-left: -24%;
      height: 100%;
      background-image: url("../../assets/images/phone-mock-7.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .phone-inner {
      position: absolute;
      top: 0px;
      left: 27px;
      z-index: 100;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 13px 18px 11px 18px;
      border-radius: 10px;
      overflow: hidden;
      font-family: "Montserrat";

      .phone-inner-body {
        width: 100%;
        height: 100%;
        position: relative;

        .phone-pending-body {
          position: absolute;
          z-index: 1000;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(10, 10, 10, 0.9);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: opacity 0.5s ease-out;

          &.fadeIn {
            animation: phone-pending-fade-in 0.5s 1;
            animation-fill-mode: forwards;

            @keyframes phone-pending-fade-in {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }

          &.fadeOut {
            animation: phone-pending-fade-out 0.5s 1;
            animation-fill-mode: forwards;

            @keyframes phone-pending-fade-out {
              0% {
                opacity: 1;
              }
              100% {
                opacity: 0;
              }
            }
          }
        }
      }
    }

    .phone-safe {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
      display: none;
    }
  }
}
