.card {
  position: absolute;
  left: 0;
  bottom: -100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 12px 25px;
  box-sizing: border-box;
  background: rgb(32, 32, 32);
  border-radius: 25px/50px;
  animation: showWindow 1s 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.15, 1.2);

  @keyframes showWindow {
    0% {
      bottom: -100%;
    }
    100% {
      bottom: -20%;
    }
  }

  .close-box {
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      i {
        font-size: 25px;
      }
    }
  }

  .title-box {
    width: 100%;
    text-align: left;
    padding: 8px;

    span {
      font-family: "Bebas Neue";

      color: #959595;
      letter-spacing: 7px;
    }
  }

  .content-box {
    margin-top: 5px;
  }

  .card-button {
    background: #181818;
    border-radius: 5px;
    //font-family: "Bebas Neue";
    padding: 5px 10px;
    box-sizing: border-box;
    flex-grow: 1;
    margin-right: 5px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.25px;
    text-transform: uppercase;

    &._select {
      color: white;
      background-image: linear-gradient(-45deg, #fc4c32, #d72375);
    }

    &.mini {
      font-size: 10px;
      padding: 3px 7px;
    }
  }
}
