$search-input-height: 45px;

.search-input {
  position: relative;
  width: 100%;
  min-height: $search-input-height;
  background: #212121;
  font-size: 14px;
  color: #888;
  border: none;
  border-radius: 8px/12px;
  align-items: center;
  padding: 7px 15px;
  box-sizing: border-box;
  margin-bottom: 8px;
  transition: background-color 0.5s ease-out;
  transition-delay: 0.4s;
  text-align: left;

  &:focus {
    outline: none;
  }

  &._hover,
  &:hover {
    background: #1b1b1b;
  }

  &.mini {
    .icon {
      width: $search-input-height * 0.8;
      height: $search-input-height * 0.8;
    }
  }

  .icon {
    position: absolute;
    width: $search-input-height;
    height: $search-input-height;
    padding: 5px;
    box-sizing: border-box;
    top: 0;
    right: 0;

    i {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: #2f2f2f;
      border-radius: 50%;
      font-size: 18px;
    }
  }

  $placeholder-height: 20px;

  .placeholder {
    text-align: left;
    font-size: 12px;
    width: 100%;
    height: $placeholder-height;
  }

  .values {
    width: 100%;

    .value {
      flex-grow: 1;
      background: #000000;
      border-radius: 8px;
      padding: 4px 4px;
      margin-right: 3px;
      margin-bottom: 5px;
      display: inline-block;

      color: #959595;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.25px;

      &.dark {
        font-weight: normal;
        color: #aaa;
      }

      &.chill {
        background: #83ff8c;
      }

      &.sad {
        background: #5c5c5c;
      }

      &.nostalgic {
        background: #fff25d;
      }

      &.party {
        background: #0097ff;
      }

      &.hard {
        background: #ff3131;
      }

      &.cheerful {
        background: #9fff45;
      }

      &.night {
        background: #396295;
      }

      &.morning {
        background: #ffbf4c;
      }

      &.deep {
        background: #6d52a2;
      }
    }
  }

  .search-header {
    height: 32px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
  }
}

.search-button-wrapper {
  width: 100%;

  .search-button-box {
    position: relative;
    .search-button {
      font-family: "Bebas Neue";
      outline: none;
      width: 80%;
      height: 32px;
      background-image: linear-gradient(-45deg, #fc4c32, #d72375);
      color: white;
      font-size: 15px;
      border-radius: 16px;
      border: none;
      letter-spacing: 4px;
      transition: 0.5s ease-out;
      transition-delay: 0.4s;
      opacity: 0.8;

      &._hover,
      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}
