.sound-description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    width: 100%;
    height: 100%;
  }

  .add-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;

    &._hover,
    &:hover {
      color: white;
      background-color: #222;
    }

    &._selected {
      background-image: linear-gradient(-45deg, #fc4c32, #d72375);
      color: white;
    }

    span,
    i {
      font-size: 27px;
      font-weight: bold;
    }
  }

  .bar-box {
    width: 100%;
    height: 75%;
    position: relative;
    display: flex;
    justify-content: center;

    .bar-controls {
      position: absolute;
      top: 50%;
      & > div {
        width: 2px;
        height: 2px;
      }
    }

    .bar {
      width: 20px;
      max-height: 100%;
      background-image: linear-gradient(45deg, #c34c84, #f74825);
      border-radius: 3px;
      position: absolute;
      bottom: 0;
      transition: height 0.35s ease-out;
    }
  }

  .name-box {
    width: 100%;
    height: 25%;
    line-height: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      width: 100%;
      position: absolute;

      font-size: 10px;
      text-transform: uppercase;
    }
  }
}
