.phone-pointer-wrapper {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1000;
  transform: translate(0px, 0px);
  transition-property: transform;
  transition-timing-function: ease-out;

  .pointer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &._slideUp {
      animation: pointer-slide-up-event 1s;
    }

    &._slideDown {
      animation: pointer-slide-down-event 1s;
    }

    &._click {
      animation: pointer-touch-event 0.5s;
    }

    @keyframes pointer-slide-up-event {
      0% {
        transform: scale(1) translateY(0);
        opacity: 1;
      }

      40% {
        transform: scale(0.8) translateY(60px);
        opacity: 1;
      }

      60% {
        transform: scale(1.7) translateY(-30px);
        opacity: 0.1;
      }
    }

    @keyframes pointer-slide-down-event {
      0%,
      8% {
        transform: scale(1) translateY(0);
        opacity: 1;
      }

      40% {
        transform: scale(0.8) translateY(-60px);
        opacity: 1;
      }

      60% {
        transform: scale(1.7) translateY(30px);
        opacity: 0.1;
      }
    }

    @keyframes pointer-touch-event {
      0% {
        transform: scale(1);
        box-shadow: none;
        opacity: 1;
      }
      30% {
        transform: scale(1.3);
        box-shadow: 0 0 6px 2px #0d0d0d;
        opacity: 0.7;
      }
      70% {
        transform: scale(0.8);
        opacity: 1;
      }
    }

    .pointer-circle {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
      border: 2px solid rgba(170, 170, 170, 0.3);
      box-shadow: inset 0 0 1px 0 rgba(170, 170, 170, 0.3);
      box-sizing: border-box;
      animation: move-inner-pointer 2.5s infinite;
      transform: translate(0px, 0px);
    }
  }

  @keyframes move-inner-pointer {
    0% {
      transform: translate(0px, 0px);
    }
    20% {
      transform: translate(1px, 0px);
    }
    25% {
      transform: translate(1px, -1px);
    }
    50% {
      transform: translate(-1px, -1px);
    }
    75% {
      transform: translate(1px, 1px);
    }
  }
}
