.App {
  width: 100%;
  border-top: 8px solid #f53260;
  color: #aaa;
  box-sizing: border-box;
  position: relative;
  top: 0;
  text-align: center;
  background-color: #111;
  font-family: "Jaldi", sans-serif;

  .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/rzezba-bg.png");
    background-position: 0 0;
    filter: grayscale(0.5);
    animation: 120s animate_background infinite;
  }

  .content {
    position: absolute;
    z-index: 100;
    width: 100%;
  }

  @keyframes floating {
    0% {
      opacity: 0.75;
      transform: translatey(0px);
    }
    50% {
      opacity: 1;
      transform: translatey(-8px);
    }
    100% {
      opacity: 0.75;
      transform: translatey(0px);
    }
  }

  @keyframes animate_background {
    0% {
      background-position: 0 0;
      opacity: 0.1;
      filter: grayscale(0.5);
    }
    40% {
      background-position: -120px 180px;
    }
    70% {
      opacity: 0.1;
      filter: grayscale(0.8);
    }
  }
}

.App-header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 100;
  font-size: 22px;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img.logo {
    opacity: 0.75;
    width: 150px;
    animation: floating 6s ease-in-out infinite;
  }

  strong {
    color: #ff3c6a;
  }

  .svg-wrapper {
    path {
      stroke: #fff;
      fill: #fff;
      stroke-dasharray: 1000;
      opacity: 10;
      animation: animate_logo 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    @keyframes animate_logo {
      0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1000;
      }

      30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1000;
      }

      90% {
        fill: rgba(255, 255, 255, 0);
      }

      100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
      }
    }
  }
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    width: 100%;
  }

  &.A,
  &.B {
    & > div {
      width: 80%;
    }

    .question-bar {
      margin-bottom: 25px;
    }
    .main {
      margin: 0;
      margin-top: 50px;
    }
  }

  &.B {
  }

  &.C {
  }

  &.D,
  &.F {
    background: #ec3862;
    color: black;
  }
}

.knob-area {
  display: flex;
  justify-content: center;
}

.question-bar {
  color: #ff3c6a;
  font-size: 28px;
}

.preview-bar {
  position: absolute;
  top: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  background: #111;
  color: #ff3c6a;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 20px;
}

.preview-text {
  padding: 15px;
}

button.main {
  outline: none;
  margin: 80px;
  background: #ff3c6a;
  color: white;
  text-transform: uppercase;
  border: 5px solid #f03460;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;
}

.notification-box {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
  opacity: 0.8;

  .notification {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    background-color: #0b0b0b;

    .icon {
      width: 80px;
      height: 100%;
      background: #ff3c6a;
      color: black;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      width: calc(100% - 80px);
      height: 100%;
      font-family: "Bebas Neue", cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
    }
  }
}

.genres {
  display: flex;
  flex-wrap: wrap;
  .genre-wrapper {
    width: 20%;
    height: 65px;
    padding: 5px;
    box-sizing: border-box;

    .genre {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
