.notification-box {
  position: relative;
  left: 0;

  box-sizing: border-box;

  opacity: 1;
  color: white;
  font-family: "Bebas Neue";

  .notification {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;

    .icon {
      width: 80px;
      height: 100%;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      width: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      font-size: 25px;
      line-height: 1;
      text-align: justify;
    }
  }
}
